[Unit]
Description=Jamesdsp Autostart

# If jamesdsp is set to start automatically, this file will indeed start.
Requires=pipewire-pulse.socket
ConditionUser=!root
Wants=pipewire.service pipewire-session-manager.service
After=pipewire.service pipewire-session-manager.service
Conflicts=pulseaudio.service

[Service]
Type=simple
# If grep fails (exit code 1), the service will not start.
# We use %h to represent the user's home folder.
ExecCondition=/bin/sh -c "grep -q 'AutoStartEnabled=true' %h/.config/jamesdsp/application.conf"

ExecStart=jamesdsp -t
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=default.target
